/dudge/dudge/nbproject/private/
/dudge/dudge/dudge-ejb/nbproject/private/
/dudge/dudge/dudge-war/nbproject/private/
/dudge/dudge-lib/nbproject/private/
/dudge/dudge-slave/nbproject/private/
/dudge/dudge/dudge-ejb/build/
/dudge/dudge/dudge-ejb/dist/
/dudge/dudge-lib/build/
/dudge/dudge-slave/build/
/dudge/dudge-lib/dist/
/dudge/dudge/build/
/dudge/dudge/dist/
/dudge/dudge/dudge-war/build/
/dudge/dudge/dudge-war/dist/
/dudge/dudge-dtest/nbproject/private/
/dudge/dudge-dtest/build/
/dudge/dudge-dtest/dist/
/dudge/dudge-slave/dist/