.dudge-btn-group {
  bottom: 20px;
  position: relative;
  top: 20px;
}

.dudge-pagination a {
    min-width: 42px;
    text-align: center;
}

.dudge-pagination > .disabled > span,
.dudge-pagination > .disabled > a,
.dudge-pagination > .disabled > a:hover,
.dudge-pagination > .disabled > a:focus {
  cursor: default;
}

@media (min-width: 768px) {
    .dl-dudge dt {
        width: 260px;
        margin-bottom: 6px;
    }
    .dl-dudge dd {
        margin-left: 280px;
        margin-bottom: 6px;
    }
    .dl-dudge-wide dt {
        width: 300px;
        margin-bottom: 6px;
    }
    .dl-dudge-wide dd {
        margin-left: 320px;
        margin-bottom: 6px;
    }
}

div.dataTables_filter label {
    float: right;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background-image: url(../img/ajax-loader-big.gif);    
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    position: relative;
}

table.table thead .sorting:focus,
table.table thead .sorting_asc:focus,
table.table thead .sorting_desc:focus,
table.table thead .sorting_asc_disabled:focus,
table.table thead .sorting_desc_disabled:focus {
    outline: none;
}

table.table thead .sorting:after {
    content: url('../img/sort_both.png');
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

table.table thead .sorting_asc:after {
    content: url('../img/sort_asc.png');
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
table.table thead .sorting_desc:after {
    content: url('../img/sort_desc.png');
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
 
table.table thead .sorting_asc_disabled:after {
    content: url('../img/sort_asc_disabled.png');
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
table.table thead .sorting_desc_disabled:after {
    content: url('../img/sort_desc_disabled.png');
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
