.btn-group {
  bottom: 20px;
  position: relative;
  top: 20px;
}

.dudge-pagination a {
    min-width: 46px;
    text-align: center;
}

.dudge-pagination > .disabled > span,
.dudge-pagination > .disabled > a,
.dudge-pagination > .disabled > a:hover,
.dudge-pagination > .disabled > a:focus {
  cursor: default;
}

@media (min-width: 768px) {
    .dl-dudge dt {
        width: 260px;
        margin-bottom: 6px;
    }
    .dl-dudge dd {
        margin-left: 280px;
        margin-bottom: 6px;
    }
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    background-image: url(../img/ajax-loader-big.gif);    
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}
