.tableRow {
    display: table-row
}

.tableCell, .validationError {
    display: table-cell;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px
}

.tableCell {
    width: 155px;  
}

.validationError {
    visibility: hidden;
    color: red
}
